<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Username">
            </div>
            <a href="#" class="btn btn-primary">Reset</a>
        </form>
    </div>
</body>
</html>