{% extends 'base/index.html' %}
{% load crispy_forms_tags %}
{% block title %}
Orders
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 100px;">
    <div class="row mt-2">
        <div class="card">
            <div class="card-body">
                <table class="table table-stripeds table-bordereds">
                    <tr>
                        <td>Name</td>
                        <td>Payment Mode</td>
                        <td>Total Price</td>
                        <td>Status</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.first_name}}</td>
                        <td>{{order.payment_mode}}</td>
                        <td>{{order.total_price}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-outline-primary" href=""><i class="bi bi-pen"></i></a></td>
                        <td><a href="" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}